---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Motorfella">
  <div class="min-h-screen flex items-center justify-center text-white">
    <p>Layout working.</p>
  </div>
</BaseLayout>
